#!/bin/bash

set -eufo pipefail

if [ ! "$(command -v brew)" ]; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ $brews := list
    "bat"
    "dockutil"
    "htop"
    "jenv"
    "jq"
    "lazygit"
    "neovim"
    "node"
    "openjdk@8"
    "openjdk@17"
    "openjdk@21"
    "ripgrep"
    "tmux"
    "wget"
    "zsh" -}}
{{ $casks := list
    "1password-cli"
    "1password"
    "alacritty"
    "brave-browser"
    "font-meslo-for-powerlevel10k"
    "microsoft-teams"
    "neovide"
    "intellij-idea-ce"
    "obsidian"
    "soapui"
    "spotify"
    "telegram"
    "visual-studio-code"
    "whatsapp"
    -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF



