#!/usr/bin/bash

{{ if eq .osId "linux-arch-x" }}
{{ $packages := list
	"1password"
	"1password-cli"
	"boomer"
	"bottom"
	"discord"
	"filezilla"
  	"portfolio-performance-bin"
	"spotify"
	"telegram-desktop"
    "brave-nightly-bin"
	-}}

set -eufo pipefail

yay -Syu --noconfirm
yay -Sy --needed --noconfirm {{ $packages | join " " }}

{{ end -}}
