#!/usr/bin/bash

{{ if eq .osId "linux-arch-x" -}}

sudo pacman -S --needed git base-devel
git clone https://aur.archlinux.org/yay.git
cd yay
makepkg -si

rm -rf ~/yay

PACMAN_CONF="/etc/pacman.conf"
sudo sed -i '/^#Color/s/^#//' "$PACMAN_CONF"
sudo sed -i '/^#ParallelDownloads/s/^#//' "$PACMAN_CONF"

{{ end -}}


