#!/usr/bin/bash
{{ if eq .osId "linux-arch" }}
{{ $packages := list
	"alacritty"
	"bat"
	"feh"
	"firefox"
	"git"
	"htop"
	"i3-wm"
	"jq"
	"lazygit"
	"maim"
	"neovim"
	"neovide"
	"nodejs"
	"npm"
	"obsidian"
	"playerctl" 
	"polybar"
	"rclone"
	"restic"
	"ripgrep"
	"rofi"
	"rustup"
	"tmux"
	"wget"
	"xclip"
	"xdg-desktop-portal-gtk"
	"xdg-user-dirs"
	"xorg-xev"
	"zsh"
	-}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{	$sudo = "" -}}
{{ end -}}

set -eufo pipefail

{{ $sudo }}pacman -Syu
{{ $sudo }}pacman -Sy --needed {{ $packages | join " " }}

# Setup Rust
rustup toolchain install stable

{{ end -}}
