#!/usr/bin/bash
{{ if eq .osId "linux-arch" -}}

# Change default shell
chsh -s $(which zsh)

# Add custom browsers integrations to 1password
sudo mkdir -p /etc/1password
echo "zen-bin" | sudo tee -a /etc/1password/custom_allowed_browsers > /dev/null

{{ end -}}
