#!/usr/bin/bash

{{ if eq .osId "linux-arch" -}}
{{ $packages := list
	"1password"
	"1password-cli"
	"boomer"
	"brave-bin"
	"discord"
	"filezilla"
  	"portfolio-performance-bin"
	"spotify"
	"telegram-desktop"
	-}}

set -eufo pipefail

yay -Syu
yay -Sy --needed {{ $packages | join " " }}

{{ end -}}
