{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $is_work := promptBoolOnce . "is_work" "Is a work computer?" -}}

{{- $gpg_id := promptStringOnce . "gpg_id" "GPG key id" -}}

[data]
    email = {{ $email | quote }}
    is_work = {{ $is_work }}
    gpg_id = {{ $gpg_id | quote }}
