{{ if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{ end }}

[alias]
  main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
  fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash

[user]
  name = Raul Ferrando
  email = {{ .email }}
  {{ if .is_work }}
  signingKey = {{ .gpg_id }}
  {{ end }}


[init]
	defaultBranch = main

[pull]
	rebase = true

{{ if .is_work }}
[commit]
  gpgSign = true
{{ end }}

[core]
  excludesFile = ~/.gitignore
