{{- $osId := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{- 	$osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $email := promptStringOnce . "email" "What is your email address" "email@email.com" }}
{{ $name := promptStringOnce . "name" "What is your name" "Default Name" }}
{{ $isWork := promptBoolOnce . "isWork" "Is this a computer for work related" false }} 

[data]
	osId = {{ $osId | quote }}
    os = {{ .chezmoi.os | quote }}
    work = {{ $isWork }}
	email = {{ $email | quote }}
	name = {{ $name | quote }}
