if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

export ZSH=$HOME/.oh-my-zsh

DISABLE_AUTO_UPDATE="true"
ZSH_THEME="powerlevel10k/powerlevel10k"

plugins=(git zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

#############################################################################################

# Variables
export EDITOR=nvim

# add jenv to path only for work hosts
{{ if .work }}
export PATH=$HOME/.jenv/bin:$PATH
eval "$(jenv init -)"
{{ end }}
{{ if not .work }} 
export PATH="$HOME/.cargo/bin:$PATH"
{{ end }}
export PATH="$HOME/.local/bin:$PATH"

# Aliases
alias chz="cd ~/.local/share/chezmoi"
alias chze="chezmoi edit"
alias dl="cd ~/Downloads"
alias gg="lazygit"

{{ if eq .os "darwin" }}
alias copy="pbcopy"
alias paste="pbpaste"
{{ else }}
alias copy="xclip -i -sel clip"
alias paste="xclip -sel clip -o"
{{ end }}
