#!/bin/bash

{{ $brew_packages := list
"awk"
"cmake"
"cowsay"
"chezmoi"
"fd"
"fontconfig"
"freetype"
"fzf"
"gcc"
"gettext"
"git"
"gnupg"
"gnutls"
"go"
"gradle"
"htop"
"jenv"
"jq"
"lazygit"
"lua"
"luajit"
"luarocks"
"maven"
"neovim"
"node"
"pre-commit"
"pipx"
"podman"
"podman-compose"
"redis"
"ripgrep"
"speedtest-cli"
"switchaudio-osx"
"tmux"
"tree-sitter"
"wget"
"yq"
"zsh" -}}

{{ $cask_packages := list
"1password"
"1password-cli"
"alacritty"
"brave-browser"
"discord"
"font-jetbrains-mono-nerd-font"
"font-sf-mono"
"font-sf-pro"
"google-chrome"
"intellij-idea-ce"
"mos"
"microsoft-teams"
"microsoft-word"
"microsoft-outlook"
"notion"
"neovide"
"obsidian"
"openvpn-connect"
"postman"
"podman-desktop"
"sf-symbols"
"soapui"
"slack"
"spotify"
"telegram"
"visual-studio-code"
"wireshark"
"whatsapp" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brew_packages | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($cask_packages | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
