{{- $osId := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{- 	$osId = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Your email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $isWork := promptBoolOnce . "isWork" "Is this computer work related?" -}}


[data]
	osId = {{ $osId | quote }}
    isWork = {{ $isWork }}
	email = {{ $email | quote }}
	name = {{ $name | quote }}
