#!/bin/bash

set -eo pipefail

{{ if eq .os "linux" }}

{{ if eq .os_release "arch" }}

sudo pacman -Syu

{{ end }}

{{ if eq .os_release "fedora" }}

# Enable RPM Fusion repositories
    sudo dnf install https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
    sudo dnf install https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

    sudo dnf update
    sudo dnf install curl i3-gaps \
        i3status jq neovim polybar \
        ripgrep yq wget gcc gcc-gfortran \
        make cmake ninja-build alacritty \
        zsh discord flatpak podman podman-compose rofi playerctl

    # Install brave browser
    sudo dnf install dnf-plugins-core
    sudo dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo
    sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc
    sudo dnf install brave-browser

    # Install 1password
    sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
    sudo sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" > /etc/yum.repos.d/1password.repo'
    sudo dnf install 1password

    # Install flatpak packages
    flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
    flatpak install flathub com.spotify.Client

    # Lazygitsudo
    sudo dnf copr enable atim/lazygit -y
    sudo dnf install lazygit

   # Install nerd font
   mkdir -p ~/.fonts
   wget https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/JetBrainsMono.zip  -O /tmp/jetbrains-mono.zip
   unzip /tmp/jetbrains-mono.zip -d ~/.fonts
   rm /tmp/jetbrains-mono.zip
   fc-cache -f -v

{{ end }}

{{ end }}
