#!/usr/bin/bash

{{ if eq .osId "linux-arch" }}
{{ $packages := list
  "1password"
    "1password-cli"
    "anydesk-bin"
    "boomer"
    "bottom"
    "brave-bin"
    "discord"
    "filezilla"
    "mullvad-browser-bin"
    "portfolio-performance-bin"
    "spotify"
    "telegram-desktop"
    "zapzap"
    "zoom"
    -}}

set -eufo pipefail

yay -Syu --noconfirm
yay -Sy --needed --noconfirm {{ $packages | join " " }}

{{ end -}}
