#!/usr/bin/bash
{{ if eq .osId "linux-arch" }}
{{ $packages := list
	"alacritty"
	"bat"
  "cronie"
	"deepin-image-viewer"
	"evince"
	"feh"
	"firefox"
	"git"
  "gdm"
	"htop"
	"i3-wm"
	"jq"
	"lazygit"
	"maim"
	"nautilus"
	"neovim"
	"neovide"
	"nodejs"
	"npm"
	"obsidian"
	"playerctl" 
	"polybar"
	"rclone"
	"restic"
	"ripgrep"
	"rofi"
	"rustup"
	"tmux"
	"unzip"
	"wget"
	"xclip"
	"xdg-desktop-portal-gtk"
	"xdg-user-dirs"
	"xorg-xev"
	"zsh"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{	$sudo = "" -}}
{{ end -}}

set -eufo pipefail

{{ $sudo }}pacman -Syu --noconfirm
{{ $sudo }}pacman -Sy --needed --noconfirm {{ $packages | join " " }}

{{ end -}}
