#!/usr/bin/bash
{{ if eq .osId "linux-arch" -}}

# Set default x-mime applications
xdg-mime default org.gnome.Evince.desktop application/pdf

# Image filetypes
xdg-mime default deepin-image-viewer.desktop image/png
xdg-mime default deepin-image-viewer.desktop image/jpg
xdg-mime default deepin-image-viewer.desktop image/webp
{{ end -}}
