#import = ["~/.config/alacritty/themes/tokyonight.toml"]
import = ["~/.config/alacritty/themes/gruvbox-dark.toml"]

{{ if eq .chezmoi.os "darwin" }}
window.option_as_alt = 'Both'
{{ end }}

[font]
{{ if eq .chezmoi.os "darwin" }}
size = 16.0
{{ else }}
size = 14.0
{{ end }}


[font.bold]
family = "JetBrainsMonoNL Nerd Font Mono"
style = "Bold"

[font.italic]
family = "JetBrainsMonoNL Nerd Font Mono"
style = "Italic"

[font.normal]
family = "JetBrainsMonoNL Nerd Font Mono"
style = "Regular"

{{ if eq .chezmoi.os "darwin" }}
[shell]
program = "/usr/local/bin/tmux"
args = [
    "new-session",
    "-A",
    "-D",
    "-s",
    "main"
]
{{ else }}
[shell]
program = "/bin/tmux"
args = [
    "new-session",
    "-A",
    "-D",
    "-s",
    "main"
]
{{ end }}
