import = ["~/.config/alacritty/themes/tokyonight.toml"]

{{ if eq .os "darwin" }}
window.option_as_alt = 'OnlyLeft'
{{ end }}

[font]
{{ if eq .hostname "raulf-macbook" }}
size = 16.0
{{ else }}
size = 14.0
{{ end }}


[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

{{ if eq .os "darwin" }}
[shell]
program = "/usr/local/bin/tmux"
args = [
    "new-session",
    "-A",
    "-D",
    "-s",
    "main"
]
{{ else }}
[shell]
program = "/bin/tmux"
args = [
    "new-session",
    "-A",
    "-D",
    "-s",
    "main"
]
{{ end }}

